.reel {
  display: flex;
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
}

.reel > * {
  flex: 0 0 undefined;
}

.reel > img {
  height: 100%;
  flex-basis: auto;
  width: auto;
}

.reel > * + * {
  margin-left: 1rem;
}

.reel.overflowing {
  padding-bottom: 1rem;
}
